@use '../../../../ui-kit/styles/utility/typography/typography' as *;
@use '../../../../ui-kit/styles/utility/sizes/sizes' as *;

:host {
  display: block;
  height: calc(100dvh - 66px);

  .login-form {
    position: relative;
    z-index: 2;
    background-color: rgb(255, 255, 255, .05);
    border:  1px solid rgb(255, 255, 255, .1);
    backdrop-filter: blur(5px);
  }

  .login-title {
    position: relative;
    font-family: Unbounded, sans-serif;
    align-self: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: calc(100px / 3);
    z-index: 1;
    color: white;
    font-size: 100px;
  }

  .registration-alert {
    --icon-size: 16px;
  }
}

