<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 bg-blue-500">
    <h1>test test test test</h1>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-6 bg-red-500">
    <h1>test test test test</h1>
  </div>
</div>

<div class="p-8 bg-black-900 flex gap-8">
  <app-button color="green" size="sm">Test button</app-button>
  <app-button color="white" size="sm">Test button</app-button>
  <app-button color="black" size="sm">Test button</app-button>
  <app-button color="green" size="sm" type="primary">Test button</app-button>
  <app-button color="white" size="sm" type="primary">Test button</app-button>
  <app-button color="black" size="sm" type="primary">Test button</app-button>
</div>

<div class="p-8 flex gap-8">
  <app-button color="green" size="sm">Test button</app-button>
  <app-button color="white" size="sm">Test button</app-button>
  <app-button color="black" size="sm">Test button</app-button>
  <app-button color="green" size="sm" type="primary">Test button</app-button>
  <app-button color="white" size="sm" type="primary">Test button</app-button>
  <app-button color="black" size="sm" type="primary">Test button</app-button>
</div>
