@font-face {
  font-family: 'Unbounded';
  src: url("../../../../../assets/fonts/Unbounded-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url("../../../../../assets/fonts/Unbounded-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
