@use '../../styles/utility/typography/typography' as *;
@use '../../styles/utility/sizes/sizes' as *;

:host {
  display: block;

  label {
    &[data-light="false"] {
      --input-primary-text-color: var(--sidebar-primary-text-color);
      --input-secondary-text-color: var(--sidebar-secondary-text-color);
      --input-bg-color: var(--sidebar-background-color);
      --input-bg-accent-color: var(--sidebar-background-accent-color);
      --input-border-color: var(--black-800);
      --input-caret-color: white;
    }

    &[data-light="true"] {
      --input-primary-text-color: var(--primary-text-color);
      --input-secondary-text-color: var(--secondary-text-color);
      --input-bg-color: var(--background-color);
      --input-bg-accent-color: var(--background-accent-color);
      --input-border-color: var(--black-100);
      --input-caret-color: black;
    }

    .label {
      @include span-styles;
      @include span-normal;

      padding-left: 16px;
      padding-right: 16px;

      color: var(--input-primary-text-color);
    }

    .input {
      @include fixed-height(60px);
      @include span-styles;
      @include span-normal;

      transition: border-color var(--default-transition), color var(--default-transition), ;

      display: flex;
      gap: 10px;
      align-items: center;
      padding: 0 20px 0 20px;
      border-radius: 12px;
      width: 100%;

      cursor: text;
      background-color: var(--input-bg-accent-color);
      border: 2px solid var(--input-border-color);

      &:has(input:invalid) {
        border-color: var(--red-400);
      }

      &:has(input:active), &:has(input:focus) {
        border-color: var(--input-primary-text-color);
        input {
          color: var(--input-primary-text-color);
        }
      }

      input {
        color: var(--input-secondary-text-color);
        caret-color: var(--input-caret-color);
      }
    }

    .eye-btn {
      @include fixed-size(20px);

      cursor: pointer;
      --icon-color: var(--input-secondary-text-color);

      &:hover {
        --icon-color: var(--input-primary-text-color);
      }
    }
  }
}
