<label
  class="w-100"
  [style.position]="showEye ? 'relative' : 'auto'"
  [attr.data-light]="light"
>
  <span class="label">{{ label }}</span>

  <div class="input st-2xs">
    <input
      class="w-100"
      [type]="getType()"
      [name]="name"
      [placeholder]="placeholder"
      [autocomplete]="autocomplete"
      [formControl]="control"
      [required]="!!control.errors && !control.untouched"
    />

    @if (showEye) {
      <app-icon
        [icon]="hideInput ? 'eye-off' : 'eye'"
        (click)="eyeTriggered()"
        class="eye-btn"
      ></app-icon>
    }
  </div>
</label>
