@use '../../../ui-kit/styles/utility/sizes/sizes' as *;
@use '../../../ui-kit/styles/utility/breakpoints' as *;

:host {
  display: block;

  height: 100%;
  @include up-breakpoint(sm) {
    @include fixed-height(calc(100% - 96px))
  }

  .analysis-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    padding: 16px;
  }

  .analysis-item {
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    background-color: var(--background-accent-color);
    border: 2px solid transparent;
    cursor: pointer;
    overflow: hidden;
    box-shadow: var(--soft-shadow);
    
    &:hover {
      border-color: var(--black-100);
    }
  }

  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .secondary {
    color: var(--secondary-text-color);
  }

  .nav-item {
    @include fixed-size(32px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    color: var(--secondary-text-color);

    &.current {
      background-color: var(--background-accent-color);
      box-shadow: var(--soft-shadow);
    }

    &.current, &:hover {
      color: var(--primary-text-color);
    }
  }
}