html, body {
  height: 100%;
  background-color: var(--sidebar-background-color);
}

*::selection {
  background-color: var(--green-200);
  color: var(--black-750);
}

div {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
}

//VARIABLES

:root {
  --soft-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;;
  --accent-green: var(--green-250);
  --sidebar-primary-text-color: var(--black-50);
  --sidebar-secondary-text-color: var(--black-250);
  --sidebar-title-text-color: var(--black-500);
  --sidebar-background-color: var(--black-950);
  --sidebar-background-accent-color: var(--black-900);
  --background-color: var(--black-50);
  --background-accent-color: var(--white-1000);
  --default-icon-color: var(--black-50);
  --primary-text-color: var(--black-950);
  --secondary-text-color: var(--black-700);
  --scrollbar-color: var(--black-800);
  --auth-background-color: var(--black-1000);
}